.contacts-container {
    padding: 20px;
    text-align: center;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-image {
    width: 250px; /* Ширина изображения */
    height: 250px; /* Высота изображения */
    border-radius: 50%; /* Обрезка до круга */
    object-fit: cover; /* Обрезка изображения без искажения */
    margin-right: 20px;
}

.contact-details {
    text-align: left;
    font-size: 20px;
}
