.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #4caf4f9d, #8bc34aba); /* Градиент от зеленого к светло-зеленому */
    padding: 20px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav a:hover {
    color: #61dafb; /* Цвет при наведении */
}
